body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

canvas {
  background: transparent;
  border: 1px solid #333;
}
